.case-images img {
    width: 100%;
    height: auto;
}
.interactive-prototype-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.interactive-prototype-container > * {
    flex-grow: none;
    flex-grow: 0;
    flex-shrink: 0;
}